<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://next-auth.js.org/img/logo/logo-sm.png"
      type="image/x-icon"
    />
    <title>Shop List</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <nav class="nav">
      <ul>
        <li><a href="/shop" class="active">Home</a></li>
        <li><a href="admin/add-product">Products</a></li>
      </ul>
    </nav>
    <main>
      <h2>Hello Expressjs middleware</h2>
    </main>
  </body>
</html>
