main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
}
input {
  margin: 10px 0;
  padding: 3px;
  display: block;
  width: 100%;
}

button {
  padding: 5px 10px;
}
